<div style="border:25px solid">
    <div class="head"><span style="margin-left: 12px;"> Acution Floor Market</span>
    </div>

    <div class="img">
        <img src="assets/pexels1.webp" style="height:700px;
        width: 100%;">
        <div>
            <table>
                <tr class="trr"><span style="margin-left: 12px;"> Floor Name</span></tr>
                <tr>
                    <td>NAFED Raj MP GJ UP and HR Auctions</td>
                    <td class="tgo"> <input type="button" id="btn1" class="btn btn-xs btn-info " value="Go"
                            (click)="NAFEDAuctionFloor()"></td>
                </tr>
                <tr>
                    <td> NAFED MH KAR TEL AP TN Auctions</td>
                    <td class="tgo"><input type="button" id="btn1" class="btn btn-xs btn-info" value="Go"
                            (click)="NAFEDPSFAuctionFloor()"></td>
                </tr>
                <tr>
                    <td>MP MARKFED Auction</td>
                    <td class="tgo"><input type="button" id="btn1" class="btn btn-xs btn-info" value="Go"
                            (click)="MPAuctionFloor()"></td>
                </tr>
                <tr>
                    <td>eNAM Auctions</td>
                    <td class="tgo"><input type="button" id="btn1" class="btn btn-xs btn-info" value="Go"
                            (click)="ENAMauction()">
                    </td>
                </tr>
                <tr>
                    <td>Milling Process</td>
                    <td class="tgo"><input type="button" id="btn1" class="btn btn-xs btn-info" value="Go"
                            (click)="MillingProcess()"></td>
                </tr>
                <tr>
                    <td>BEEJ and GUNNY BAGS Auctions</td>
                    <td class="tgo"><input type="button" id="btn1" class="btn btn-xs btn-info" value="Go"
                            (click)="BeejgunnyAuctions()"></td>
                </tr>
                <tr>
                    <td>NAFED Mustard (SALE)</td>
                    <td class="tgo"><input type="button" id="btn1" class="btn btn-xs btn-info" value="Go"
                            (click)="Hafedauctions()">
                    </td>
                </tr>
                <tr>
                    <td>HAFED Auctions</td>
                    <td class="tgo"><input type="button" id="btn1" class="btn btn-xs btn-info" value="Go"
                            (click)="Reverseauctions()"></td>
                </tr>
                <tr>
                    <td>Reverse Auctions</td>
                    <td class="tgo"><input type="button" id="btn1" class="btn btn-xs btn-info" value="Go"
                            (click)="NAFEDPSFAuctionFloor()"></td>
                </tr>

            </table>
        </div>
        <div>



        </div>
    </div>
</div>