<!--!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="footer.component.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

</html>

<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col1">
                <img alt="LOGO" src="assets/krishi.gif" style="height: 120px;">
            </div>
            <div class="col2">
                <h4>ABOUT</h4>
                <ul>
                    <li><a href="contactus">Contact Us</a></li>
                    
                    <li><a href="https://www.e-krishimandi.com/TnC.pdf">Terms and Conditions</a></li>

                </ul>
            </div>
            <div class="col3">
                <h4>ADDRESS</h4>
                <P> <i class="fa-solid fa-house"></i>
                    E-TECH INNOVATIVE SERVICES (P)LTD, <br
                    >F.NO G-2, G.F. BLK NO-C,
                    <br> GOLDEN HERITAGE GANPATI ENCL.<br>
                    MADRAMPURA, AJMER ROAD, JAIPUR RJ-302006

                </P><br>
                <ul>
                      <li>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="#"> support@e-techinnovative.com
                        </a>
                    </li>
                    
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <a href="#"> 0141-4013495</a>
                    </li>

                </ul>

            </div>
            <div class="footer-col">
                <h4>FOLLOW US</h4>
                <div class="social-links"-->
<!-- <a href="https://www.facebook.com/etech.innovtive"><i class="fa-brands fa-facebook"></i></a> -->
<!--a href="https://www.facebook.com/etech.innovtive" target="_blank" type="button"
                        class="btn-floating btn-fb" title="Facebook" rel="noreferrer noopener">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.e-krishimandi.com/CPIndex.aspx#" class="btn-floating btn-t"><i
                            class="fa-brands fa-twitter "></i></a>
                    <a href="https://www.linkedin.com/in/e-tech-innovative-services-private-limited-2b41671b3/"
                        target="_blank" type="button" class="btn-floating btn-link" title="Linkedin"
                        rel="noreferrer noopener">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <ul><br><br><br><br><br><br><br><br><br><br>
        <h1>@ 2023 e-Krishi Mandi. All rights reserved. Visitor count 712488</h1>
    </ul>
</footer-->
<!--!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<footer>
    <div class="wrapper">

        <div class="div1">
            <img alt="LOGO" src="assets/krishi.gif" style="height: 120px;">

        </div>
        <div class="div2">
            <h2>ABOUT</h2>
            <br>
            <ul>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#"> Terms and Conditions</a>
                </li>
            </ul>
        </div>
        <div class="div3">
            <h2>ADDRESS</h2>
            <br>
            <ul>
                <li>
                    <p><a href="#"><i class="fa-solid fa-house"></i></a>
                        E-TECH INNOVATIVE SERVICES (P)LTD,<br> 
                        F.NO G-2, G.F. BLK NO-C, GOLDEN <br>
                        HERITAGE GANPATI ENCL.MADRAMPURA,<br> 
                        AJMER ROAD, JAIPUR RJ-302006
                    </p>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-envelope"></i> support@e-techinnovative.com</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-tty"></i> 0141-4013495

                    </a>
                </li>
            </ul>
        </div>
        <div class="div4">
            <h2>FOLLOW US</h2>
<br>
            <div class="social-links">
                <ul>
                    <li>
                        <div class="item1">
                            <a href="https://www.facebook.com/etech.innovtive" target="_blank" type="button"
                                class="btn-floating btn-fb" title="Facebook" rel="noreferrer noopener">
                                <i class="fab fa-facebook-f "></i>
                            </a>
                        </div>
                    </li>
                    <li>
            

                        <div class="item2">

                            <a href="https://www.e-krishimandi.com/CPIndex.aspx#" class="btn-floating btn-t"><i
                                    class="fa-brands fa-twitter "></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="item3">

                            <a href="https://www.linkedin.com/in/e-tech-innovative-services-private-limited-2b41671b3/"
                                target="_blank" type="button" class="btn-floating btn-link" title="Linkedin"
                                rel="noreferrer noopener">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </li>
                </ul>

            </div>

        </div>

    </div>
    <br><br><br><br>
    <h3>@ 2023 e-Krishi Mandi. All rights reserved. Visitor count 712488</h3>
<br>
    
</footer>
</body>
</html-->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <img alt="LOGO" src="assets/krishi.gif" style="height: 120px;">

                </div>
                <div class="footer-col">
                    <div class="about">
                        <h4>ABOUT</h4>
                        <ul>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#"> Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <h4>ADDRESS</h4>
                    <P> <i class="fa-solid fa-house"></i>
                        E-TECH INNOVATIVE SERVICES (P)LTD, F.NO G-<br>
                        2, G.F. BLK NO-C,GOLDEN HERITAGE GANPATI <br>
                        ENCL. MADRAMPURA, AJMER ROAD, JAIPUR RJ-<br>
                        302006

                    </P><br>
                    <ul>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            <a href="#"> support@e-techinnovative.com
                            </a>
                        </li>

                        <li>
                            <i class="fa-solid fa-tty"></i>
                            <a href="#"> 0141-4013495</a>
                        </li>

                    </ul>

                </div>
                <div class="col1">
                    <h4>FOLLOW&nbsp;&nbsp;US</h4>

                    <div class="social-links">
                        <ul>
                            <li>
                                <div class="item1">
                                    <a href="https://www.facebook.com/etech.innovtive" target="_blank" type="button"
                                        class="btn-floating btn-fb" title="Facebook" rel="noreferrer noopener">
                                        <i class="fab fa-facebook-f "></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item2">
                                    <a href="https://twitter.com/" class="btn-floating btn-t">
                                       <!---- <i class="fa-brands fa-twitter "></i>--->
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                </div>
                            </li>
                            <li>
                                <div class="item3">

                                    <a href="https://www.linkedin.com/in/e-tech-innovative-services-private-limited-2b41671b3/"
                                        target="_blank" type="button" class="btn-floating btn-link" title="Linkedin"
                                        rel="noreferrer noopener">
                                      <i class="fab fa-linkedin-in"></i>
                                        
                                      
                                    </a>
                                </div>
                            </li>
                        </ul>




                    </div>


                </div>
            </div>
            <br>
            <h6>@ 2023 e-Krishi Mandi. All rights reserved. Visitor count 712488</h6>
            <br>
        </div>
    </footer>

</body>

</html>