<!--!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/
    font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <nav>
        <div class="fixed-header">

            <div class="container">
                    <div class="left">
                        <img src="assets/krishi.gif">
                        <img src="assets/etech.png">
                    </div>
                    <div class="right">
                        <ul>
                            
                            <li><a routerLink="/home"> <i class="fa-solid fa-house"></i>&nbsp;&nbsp;Home</a></li>
                            <li><a routerLink="/circulars">Circulars</a></li>
                            <li><a routerLink="/signup">Register</a></li>
                            <li><a routerLink="/login"><button>Login </button></a></li>
                            <!--<button class="btnLogin-popup">Login</button>-->

                        <!--/ul>
                    </div>
                </div>
            
        </div>
        <br>
        <br>
        <br>
        <br>

    </nav>
</body>

</html-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="header.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/
    font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    
    <!-- nav container -->
    <nav class="nav-container">
        <!-- right nav -->
        <ul class="right-side">
            <li><a href=""> <img src="assets/krishi.gif"></a></li>
            <li><a href=""> <img src="assets/etech.png">
            </a></li>
        </ul>
        <!-- left nav -->
        <ul class="left-side">
            <li><a routerLink="/home"> <i class="fa-solid fa-house"></i>&nbsp;&nbsp;Home</a></li>
            <li><a routerLink="/circulars">Circulars</a></li>
            <li><a routerLink="/signup">Register</a></li>
            <li><a routerLink="/login"><button>Login </button></a></li>
            <li><a routerLink="/data"><button>Data </button></a></li>

            <!--<button class="btnLogin-popup">Login</button>-->

</ul>
    </nav>
</body>
</html>